$media: $media-server + 'games/twirl-and-swirl/';
$sprite: $media + 'sprites-animations/';
$image: $media + 'image-assets/';
$frame: $media + 'frames/';
$font: $media + 'fonts/';

$white: #fff;
$black: #000;
$orange: #ffa500;
$blue: #7af2ff;
$red: #f00;
$transparent-black: rgba(0, 0, 0, .25);
